<!-- <div class="page-container">
    <app-left-sidebar class="left-sidebar">

    </app-left-sidebar>
    <div class="page-content">
        <router-outlet class="page-contents">
            <p>Routing works!</p>
        </router-outlet>
    </div>
</div> -->

<div class="page-container">
    <app-left-sidebar class="left-sidebar"></app-left-sidebar>
    <div class="page-content">
      <!-- TODO: Figure out the routing later. -->
      <!-- <router-outlet class="page-contents"></router-outlet> -->
      <div class="gallery">
        <app-gallery></app-gallery>
      </div>
    </div>
  </div>
  