<!-- <app-left-sidebar></app-left-sidebar>

<button routerLink="/">Home</button>
<button routerLink="/about">About</button>
<button routerLink="/contact">Contact</button>

<router-outlet></router-outlet>

<div class="page-container">
    <app-left-sidebar></app-left-sidebar>
    <div class="content">
        <p> Love </p>
        <button routerLink="/">Home</button>
        <button routerLink="/about">About</button>
        <button routerLink="/contact">Contact</button>

        <router-outlet></router-outlet>
        content for the rest of the page goes here
    </div>
</div> -->



<div class="page-container">
    <app-left-sidebar class="left-sidebar">

    </app-left-sidebar>
    <div class="page-content">
        <router-outlet class="page-contents">
            <p>Routing works!</p>
        </router-outlet>
    </div>
</div>
